@charset "utf-8";


.ads_table_top {
  background:url("../images/ads_table_top.png") no-repeat;
  width:348px;
  height:43px;
  text-align:right;
}

.ads_table_mid{
  background:url("../images/ads_table_mid.png") repeat-y;
  width:348px;
  height:auto;
}

.ads_table_btm{
  background:url("../images/ads_table_btm.png") no-repeat center;
  width:348px;
  height:43px;
  vertical-align:middle;
}

.rgt_form {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/rgt_form.png') no-repeat center bottom;
  text-indent: -9000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block; 
  *display:block;
  zoom:1;
  width:127px;
  height:35px;
  line-height:35px;
}

.rgt_form:hover {
  margin: 0;
  padding:0;
  border: 0;
  background: transparent url('../images/rgt_form_hover.png') no-repeat center bottom;
  text-indent: -9000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  *display:block;
  zoom:1;
  width:127px;
  height:35px;
  line-height:35px;
}

.page_link {
  margin: 0 0 10px 0;
  border: 0;
  background: #247e46; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b7693', endColorstr='#1b516b'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#2b7693), to(#1b516b)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #2b7693,  #1b516b); /* for firefox 3.6+ */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; /* future proofing */
  -khtml-border-radius: 3px; /* for old Konqueror browsers */
  border:1px solid #001f0e;
  color:#fff;
  text-decoration:none;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:normal;
  font-size:12px;
  text-shadow:0 1px 1px rgba(0,35,15,.8);
  text-align:center;
  line-height:30px;
  /*text-indent: -1000em;*/
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block; 
  zoom:1;
  *display:block;
  width:auto;
  height:30px;
  padding:0px 10px 0px 10px;
}

.page_link:hover {
  margin: 0 0 10px 0;
  border: 0;
  background: #095028; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1b516b', endColorstr='#2b7693'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#1b516b), to(#2b7693)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #1b516b,  #2b7693); /* for firefox 3.6+ */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; /* future proofing */
  -khtml-border-radius: 3px; /* for old Konqueror browsers */
  border:1px solid #001f0e;
  color:#fff;
  text-decoration:none;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:normal;
  font-size:12px;
  text-shadow:0 1px 1px rgba(0,35,15,.8);
  text-align:center;
  line-height:30px;
  /*text-indent: -1000em;*/
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block; 
  zoom:1;
  *display:block;
  width:auto;
  height:30px;
  padding:0px 10px 0px 10px;
}
