﻿#recordCheck 
{
  padding-left: 22px;
  margin-left: 5px;
  float: left;
  background-position: left;
  background-repeat: no-repeat;
  height:20px;
}

.progress
{
  background-image: url(../images/spinner.gif);
}

.taken
{
  background-image: url(../images/taken.gif);
}

.available
{
  background-image: url(../images/available.gif);
}

.empty
{
  background-image: url(../images/star.png);
}

#Button1 
{
  height: auto;
  float: left;
  margin-left: 95px;
}