.chromestyle{
width: 450px;
font-weight: bold;
height:25px;
margin-top:-2px;
margin-right:100px;
}

.chromestyle:after{ /*Add margin between menu and rest of content in Firefox*/
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

.chromestyle ul{
border: 0px solid #BBB;
width: 100%;
/*background: url(chromebg.gif) center center repeat-x; THEME CHANGE HERE*/
background-color: #ffffff;
padding: 4px 0px;
margin: 0;
text-align: left; /*set value to "left", "center", or "right"*/
}

.chromestyle ul li{
display: inline;
}

.chromestyle ul li a{
padding: 4px 6px;
margin: 0;
text-decoration: none;
color:#666666;
font:bold 10px verdana;
}

.chromestyle ul li a:hover{
padding: 4px 6px;
margin: 0;
text-decoration: none;
color:#666666;
font:bold 10px verdana;
}

.chromestyle ul li a:hover, .chromestyle ul li a.selected{ /*script dynamically adds a class of "selected" to the current active menu item*/
/*background: url(chromebg-over.gif) center center repeat-x; THEME CHANGE HERE*/
}

/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
position:absolute;
top: 0;
border: 0px solid #BBB; /*THEME CHANGE HERE*/
border-bottom-width: 0;
line-height:18px;
z-index:100;
background-color: none;
width: 100%;
visibility: hidden;
text-align:left;
}


.dropmenudiv a{
width: 60px;
display: block;
text-indent: 3px;
border-bottom: 0px solid #BBB; /*THEME CHANGE HERE*/
padding: 2px 0px 0px 0px;
text-decoration: none;
font-weight: bold;
color: black;
text-decoration: none;
color:#888888;
font:normal 10px arial;
}

* html .dropmenudiv a{ /*IE only hack*/
    width: 100%;
    text-decoration: none;
    color:#888888;
    font:normal 10px arial;
}

.dropmenudiv a:hover{ /*THEME CHANGE HERE*/
background-color: none;
text-decoration: none;
color:#000000;
font:normal 10px arial;
}
