@charset "utf-8";


/*---Main Menu---*/
/*#maincurrent{
  width:100%;
  height:auto;
  display:block;
  font-size:12px;
  color:#000000;
  text-decoration:none;
  background:url("../images/") center top no-repeat;
}
*/
.mainmenu{
  width:900px;
  height:25px;
  border:none;
  margin:0px;
  padding:0px;
  font-family:Arial, Helvetica, sans-serif;
}

.mainmenu ul{
  margin:0;
  padding:0;
  list-style:none;
}

.mainmenu ul li{
  width:auto;
  *width:124px;
  height:25px;
  float:left;
  text-align:center;
  padding:0px 25px 0px 25px;
  *padding:0;
}
		
.mainmenu ul li a{
  width:auto;
  *width:124px;
  height:25px;
  background:none;
  padding:0;
  margin:auto;
  font-size:12px;
  font-weight:normal;
  color:#ffffff;
  line-height:25px;
  text-decoration:none;
  display:block;
}
	
.mainmenu ul li:hover a{
  text-decoration:none;
  font-size:12px;
  height:25px;
  width:auto;
  display:block;
  color:#ccffff;
}
		
.mainmenu ul li ul{
  width:auto;
  height:auto;
  margin:0px;
  padding:0px 0px 5px 0px;
  border:1px solid #999999;
  display:none;
  background-color:#cccccc;
  text-align:center;
  position:absolute;
  z-index:200;
  /*top:1em;
  /*left:0;*/
}

.mainmenu ul li:hover ul{
  display:block;
}
			
.mainmenu ul li ul li {
  width:auto;
  height:25px;
  border:0;
  margin:0px;
  padding:0px 10px 0px 10px;
  display:block;
  text-align:center;
  text-decoration:none;
  vertical-align:middle;
  float:none;
}
		
.mainmenu ul li:hover ul li a{
  background:none;
  color:#000000;
  font-size:11px;
}
		
.mainmenu ul li ul li a{
  width:auto;
  height:25px;
  margin:0px;
  padding:0px;
  display:block;
  font-size:11px;
  font-style:normal;
  line-height:25px;
  color:#000000;
}
					
.mainmenu ul li ul a:hover,{
  border:0px;
  background:none;
  text-decoration:none;
}
					
.mainmenu ul li ul li:hover a{
  border:0px;
  width:auto;
  height:25px;
  text-decoration:none;
  color:#898989;
  background:none;
  text-shadow:none;
}

/*---Main Menu End---*/