﻿body 
{
	margin: 0px 0px 0px 0px;
	font-family:tahoma,arial;
    font-size:10pt;
}

.styleResponse
{
   padding :0px 0px 0px 3px; 
   width: 150px;
   height :23px;
   font-family :tahoma,arial ;
   font-size :10pt;
}

.style1
{
   padding :0px 0px 0px 3px; 
   width: 200px;
   height :23px;
   font-family :tahoma,arial ;
   font-size :10pt;
}
.style2
{
	padding :1px 1px 1px 1px;
  width: 15px;
  height :23px;
}

.style3
	{
	width :330px;
	height :23px;
	}
	
.style4
	{
	width :250px;
	height :23px;
	}	
	
.formheader
	{
	padding :0px 10px 10px 3px; 
	font-family :tahoma,arial ; 
	font-weight :bold ; 
	font-size :11pt;
	}

.Estyle
	{
		padding :10px 10px 10px 10px;
	}
	
.Dline
{
	color:#FFFFFF;
	font-size:11pt;
	font-weight:bold; 
	background:url(../images/dotline.png) repeat-x left;
	padding:3px 10px 3px 10px;
	width:100%; 
	height:2px;
 }
 
 .smallstep
 {
	padding :0px 10px 5px 3px; 
	font-family :tahoma,arial ; 
	font-weight :bold ; 
	font-size :10pt;
 }
 
 .responsestyle
 {
 	font-family :tahoma,arial; 
 	font-size :10pt;
 }
 
 .receiptstyle
 {
 	width:150px; 
 	height :23px; 
 	font-family: tahoma,arial; 
 	font-size :10pt;
 }
 .rcptstyle
 {
 	padding:0px 0px 0px 0px;
 	width:100px; 
 	height :23px; 
 	font-family: tahoma,arial; 
 	font-size :10pt;
 }
 