﻿body 
{
    font-size:8pt;
    font-family:Tahoma;
}

.PageTitle
{
    font-size:11pt;
    font-weight:bold;
    color:#444444;
}

.lbl_status_fail
{
	color:red;
}

.lbl_status_success
{
	color:green;
}

