﻿body 
{
    font-size:12px;
    font-family:Arial;
    margin:0 0 0 0;
    width:100%;
    color:#000000;
}

#bg_top
{
}
.pagesize
{
    width:1000px;
    background:none;
}

.logo
{
    padding-left:40px;
}

.header
{
    width:700px;
    height:160px;
}
.header td
{
	padding-bottom:5px;
}
.banner_bg
{
    width:100%;
    background:none;
    
}
.banner
{
    width:700px;
   
}
.banner td
{
    padding-top:10px;
}
.title
{
    width:700px;
  
    border-right:1px #ffffff solid;
}

.navigator
{
    height:100px;
}

.navi_top_align
{
    padding-top:5px;
    padding-right:4px;
}

.center_bar
{
    background:none;
    height:20px;
    width:700px;
}

.space
{
    color:#878791;
    font-size:9px;
    padding-left:6px;
    padding-right:6px;
    vertical-align:top;
}
.space2
{
    color:#999999;
    font-size:9px;
    padding-left:5px;
    padding-right:4px;
    vertical-align:top;
}

.footer
{
    width:1000px;
    height:150px;
    color:#999999;
}

.footer_bg
{
	background:url(../images/bg_bottom.png) no-repeat bottom center;
	height:150px;
}

.date_text
{
    color:#888888;
    font-size:10px;
}

.footer_left
{
    padding-left:15px;
    padding-bottom:15px;
}

.footer_link
{
    color:#ffffff;
    font-size:11px;
    text-decoration:none;
}
.footer_link:hover
{
    color:#cccccc;
    font-size:11px;
    text-decoration:none;
}

#imageContainer { height:260px; }  
#imageContainer img  
{
    display:none; 	
	position:absolute; 	
	top:0px; left:0px; 		
	width:650px; 	
	opacity: -0.01; 
}

/*-----------------------Top Menu Style---------------------- */

.topmenu
{
    color:#878791;
    font-size:10px;
    text-decoration:none;
}
.topmenu:hover
{
    color:#000000;
    font-size:10px;
    text-decoration:none;
}
.admin_control
{
    font-size:9pt;
    font-weight:600;
    font-family:Tahoma,arial;
    color:#666666;
    text-decoration:none;
}

.news_hyper
{
    color:#3b7ab2;
    text-decoration:none;
}
.news_hyper:hover
{
    color:#3b7ab2;
    text-decoration:underline;
}

.date_hyper
{
    color:#878791;
    text-decoration:none;
    font-size:7pt;
}
.date_hyper:hover
{
    color:#3b7ab2;
    text-decoration:underline;
}

.event_hyper
{
    color:#888888;
    text-decoration:none;
    font-size:8pt;
    font-weight:bold;
}

.event_hyper:hover
{
    color:#333333;
    font-weight:bold;
    text-decoration:none;
}
.rootlink
{
    color:#ffffff;
    font-weight:bold;
    text-decoration:none;
}
.rootlink:hover
{
    color:#ffffff;
    font-weight:bold;
    text-decoration:none;
}

.rootlink_td
{
    background:#9999a3;
}
.rootlink_td:hover
{
    background:#444444;
}

:focus
{
	outline:none;
}

.pagetitle
{
	font-size:16pt;font-weight:bold; color:#444444; font-family:Times New Roman; font-style:italic
}
.titleicon
{
	float:left;padding-left:23px;
}
.titlealign
{
	float:left;padding-top:3px;padding-left:5px;
}
.year_text
{
	color:#666666;
	text-decoration:none;
	font-size:10pt;
}

.year_text_hover
{
	color:#fb2126;
	text-decoration:underline;
	font-size:10pt;
}

.year_text:hover
{
	color:#fb2126;
	text-decoration:underline;
	font-size:10pt;
}
