﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="response.aspx.cs" Inherits="response" Debug="true"  %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>MSO</title>
     <link href="../css/StyleSheet.css"  rel="Stylesheet" type="text/css" />
    <script type="text/javascript" src="../js/txtvalidation.js" ></script>
    </head>
<script type="text/javascript">
function poponload()
{

   testwindow = window.open ("response.aspx","mywindow","menubar=1,resizable=1,width=350,height=250");
    //testwindow = //window.open("", "mywindow", "location=1,status=1,scrollbars=1,width=100,height=100");
    testwindow.moveTo(0, 0);
}
</script>

<body ><%--onload="javascript: poponload()"--%>
<%--onload="window.print();"--%>
    <form id="form1" runat="server">
    <div>
 
    <table border ="0" cellpadding ="0" cellspacing ="0" width ="100%">
    
    <tr><td align ="center" style ="padding:10px 0px 10px 0px;">
    <table style="width:68%;"><tr><td align ="center"><a href ="../index.html"><img src="../images/logo.jpg" style ="border:none;" alt="" /></a></td></tr></table>
    </td></tr>
        
    
    <tr><td><table style="width:100%; height:20px; background-color:#2a718d;" align="center">
      <tr><td style="color:#FFFFFF; font-family :tahoma,arial; font-size :10pt; font-weight:bold; padding:3px 10px 3px 330px" align="left">3rd Annual Scientific Meeting</td></tr></table>
      </td></tr>
      
      
      <%--<tr><td align ="center" >
    <table border="0" width="100%;" style="background-color:#2a718d; color:White;">
    <tr><td align ="left" style ="color:White ; font-family :tahoma,arial ; font-size :10pt; font-weight :bold ; padding-left :220px;">3rd Annual Scientific Meeting </td></tr></table>
    </td></tr>--%>
      
    <%--<tr><td align ="center" id="preview" runat="server" style ="background-color:#E0EBF1; padding:20px 10px 10px 10px;" >--%>
    <tr><td align ="center" id="preview" runat="server" style ="padding:0px 10px 10px 10px;" >
    <table border ="0" cellpadding="0"  cellspacing="0" width ="50%">

      
    
    <%--<tr>
	 <td align="right" style="width:20px;"><img src="../images/box_left_top.png" /></td>
	 <td style="background-image:url(../images/box_line_vec.png); background-repeat:repeat-x;" align="center"></td>
	 <td align="left" style="width:20px;"> <img src="../images/box_right_top.png" /></td>
</tr>--%>
    
    <tr>
<%--<td align="right"style="background-image:url(../images/box_left_h.png); background-repeat:repeat-y"></td>--%>
<td style="background-image:url(../images/content_white.png); background-repeat:repeat;" align="center">

<table border="0" cellpadding ="0" cellspacing ="0" width="90%">
<%--<tr><td align ="left"><img src="images/logo.jpg" /></td></tr>--%><%--http://localhost:4756/MSOonline/PrintReceipt.aspx--%>
    <tr><td align="left" style="padding:10px 0px 0px 3px; width :100px;"><asp:ImageButton ID="ImageButton1" 
              ImageUrl="../images/print_images.jpg" Width="40px" Height="20px" BorderStyle="Groove" PostBackUrl="http://mso.org.my/payment/PrintReceipt.aspx" runat="server" 
              onclick="ImageButton1_Click" /><%--PostBackUrl="http://localhost:4756/MSOonline/PrintReceipt.aspx"--%><%----%>
              </td>
              <td align ="right" style="padding:10px 3px 0px 0px; font-family:tahoma,arial; font-size:9pt;"><a href ="http://mso.org.my/payment/OnlineForm.aspx"><span style ="font-family:tahoma,arial; font-size :8pt;">Back To Registration Page</span></a> |
              <a href ="http://mso.org.my/index.html"><span style ="font-family:tahoma,arial; font-size :8pt;">Back To Main Page</span></a>
                  <%--<asp:Button ID="btnBack" runat="server" Text="Back To Registeration Page" onclick="btnBack_Click" />--%></td></tr>
              
    <tr><td style=" height :20px; paddding:10px 10px 10px 10px" colspan ="2">
    <asp:Label ID="lblThankYouPayment" Visible ="false" style="color:Red; font-family:tahoma,arial; font-weight :bold ; font-size:12pt;" runat="server" Text="Thank You Four Your Payment."></asp:Label></td></tr>
              
    <tr><td colspan ="2" class ="formheader"align ="left" >Receipt</td></tr>
    <tr><td align ="center" colspan ="2">
    <table width ="100%" border="0" cellpadding ="0" cellspacing ="0">
    
    
    
    <tr><td class ="styleResponse" align ="left" >Ref No.</td><td class ="style2" ><asp:Label ID="Label2" Font-Size ="8pt" Font-Names="tahoma,arial" runat="server" Text=":"></asp:Label></td>
    <td align ="left" style ="font-family :tahoma,arial; font-size :10pt; width :250px">
    
    <%--<asp:TextBox ID="RefNo" BorderStyle="None" ReadOnly ="true" runat="server"></asp:TextBox>--%>
    <asp:Label ID="lblRefNo" runat="server" Font-Size ="8pt" Font-Names="tahoma,arial" Text=""></asp:Label>
    </td>
    
    
    <td  style="padding-left:50px; width:80px; font-family :tahoma,arial; font-size :10pt;" align ="left" >Date</td><td class ="style2" >
                                                        <asp:Label ID="Label6" Font-Size ="8pt" Font-Names="tahoma,arial" 
                                                            runat="server" Text=":"></asp:Label></td>
    <td style="font-family :Verdana; font-size :10pt;  width:100px"  align ="left" >
    <asp:Label ID="txtDate" runat="server" Font-Size ="8pt" Font-Names="tahoma,arial" Text=""></asp:Label> </td>
    
    </tr>
    
    
    <tr><td class ="styleResponse" align ="left" >Receipt No.</td><td class ="style2" ><asp:Label ID="Label1" Font-Size ="8pt" Font-Names="tahoma,arial" runat="server" Text=":"></asp:Label></td>
    <td align ="left" style="width:150px;" class="responsestyle"  >
    <%--<asp:TextBox ID="txtreceiptNo" BorderStyle="None" ReadOnly ="true" runat="server"></asp:TextBox> --%>
    <asp:Label ID="lbltxtreceiptNo" runat="server" Font-Size ="8pt" Font-Names="tahoma,arial" Text=""></asp:Label></td>
    
    
    <td  style="padding-left:50px; width:80px; font-family :tahoma,arial; font-size :10pt;" align ="left" >Time</td><td class ="style2" >
                                                        <asp:Label ID="Label4" Font-Size ="8pt" Font-Names="tahoma,arial" 
                                                            runat="server" Text=":"></asp:Label></td>
    <td style="font-family :Verdana; font-size :10pt;  width:100px"  align ="left" >
    <asp:Label ID="lblTime" runat="server" Font-Size ="8pt" Font-Names="tahoma,arial" Text=""></asp:Label> </td>
    </tr>
    
    
    
    <tr><td class ="styleResponse" align ="left" >Name</td><td class ="style2" ><asp:Label ID="Label7" Font-Size ="8pt" Font-Names="tahoma,arial" runat="server" Text=":"></asp:Label></td>
    <td align ="left" style="width:150px;" class="responsestyle"  colspan="4">
    <asp:Label ID="lblFullName" runat="server" Font-Size ="8pt" Font-Names="tahoma,arial" Text=""></asp:Label></td>
    
    </tr>
    
    <tr><td class ="styleResponse" align ="left" >Event Name</td><td class ="style2" ><asp:Label ID="Label5" Font-Size ="8pt" Font-Names="tahoma,arial" runat="server" Text=":"></asp:Label></td>
    <td align ="left" style="width:150px;" class="responsestyle"  colspan="4">
    <asp:Label ID="lblEventName" runat="server" Font-Size ="8pt" Font-Names="tahoma,arial" Text=""></asp:Label></td>
    </tr>
    
    <tr><td class ="styleResponse" align ="left" >Fees</td><td class ="style2" ><asp:Label ID="Label3" Font-Size ="8pt" Font-Names="tahoma,arial" runat="server" Text=":"></asp:Label></td>
    <td align ="left"  class="responsestyle" colspan="4">
    <%--<asp:TextBox ID="eCurrency" BorderStyle="None" ReadOnly ="true" runat="server"></asp:TextBox> --%>
    <asp:Label ID="lbleCurrency" runat="server" Font-Size ="8pt" Font-Names="tahoma,arial" Text=""></asp:Label>&nbsp;<asp:Label ID="lblAmount" runat="server" Font-Size ="8pt" Font-Names="tahoma,arial" Text=""></asp:Label></td></tr>
    
    <%--<tr><td  class ="styleResponse"align ="left" >Amount</td><td class ="style2" >
    <asp:Label ID="Label4" Font-Size ="8pt" Font-Names="tahoma,arial" runat="server" Text=":"></asp:Label></td>
    <td align ="left" class="responsestyle" colspan="4">
    </td></tr>--%>
    
    <tr><td class ="styleResponse" align ="left" >
    <asp:Label ID="lblErrorDescTitle" Visible ="false" Font-Size ="10pt" Font-Names="tahoma,arial" runat="server" Text="Error Desc"></asp:Label></td>
    <td class ="style2" >
    <asp:Label ID="lblDot" Visible ="false" Font-Size ="8pt" Font-Names="tahoma,arial" runat="server" Text=":"></asp:Label></td>
    <td align ="left" class="responsestyle" colspan="4">
    
    <%--<asp:TextBox ID="ErrDesc" BorderStyle="None" ReadOnly ="true" Width ="200px" Height="50px" runat="server"></asp:TextBox> --%>
    <asp:Label ID="lblErrDesc" Visible ="false" Font-Size ="8pt" Font-Names="tahoma,arial" runat="server" Text=""></asp:Label>
    <%--<textarea id ="ErrDesc" readonly ="readonly" runat="server" cols="80" name="elm1" rows="20" style="width: 250px; height:60px; "></textarea>--%>
    </td></tr>
    
    <tr><td class ="styleResponse" align ="left" >&nbsp;</td><td class ="style2" >&nbsp;</td>
    <td align ="left" class="responsestyle" colspan="4">
   
    <%--<asp:TextBox ID="Remark" BorderStyle="None" ReadOnly ="true" Width ="200px" Height="50px" runat="server"></asp:TextBox> --%>
    <asp:Label ID="lblRemark" runat="server" Font-Size ="8pt" Visible ="false" Font-Names="tahoma,arial" Text=""></asp:Label>
    <%--<textarea id ="Remark" readonly ="readonly" runat="server" cols="80" name="elm1" rows="20" style="width: 250px; height:60px;"></textarea>--%>
    </td></tr>
    <%--<tr><td class ="styleResponse" align ="left" >TransId</td><td class ="style2" >:</td>
    <td align ="left"  colspan="4">
   
    <asp:TextBox ID="TransId" BorderStyle="None" ReadOnly ="true" runat="server"></asp:TextBox> </td></tr>--%>
    <%--<tr><td class ="styleResponse" align ="left" >AuthCode</td><td class ="style2" >:</td>
    <td align ="left"  colspan="4">
    
     <asp:TextBox ID="AuthCode" BorderStyle="None" ReadOnly ="true" runat="server"></asp:TextBox> </td></tr>--%>
    
    
    
    <tr><td colspan="7" >
    <%--<asp:Label ID="Signature" runat="server" Text=""></asp:Label>--%> 
    <asp:HiddenField ID="Signature" runat="server" />
    <asp:HiddenField ID="eStatus" runat="server" />
    <asp:HiddenField ID="MerchantCode" runat="server" />
    <asp:HiddenField ID="PaymentId" runat="server" />
    <asp:HiddenField ID="TransId" runat="server" />
    <asp:HiddenField ID="AuthCode" runat="server" />
    <asp:HiddenField ID="MerchantKey" runat="server" Value="OXxi6oAcBB" />
    
    <asp:HiddenField ID="txtreceiptNo" runat="server" />
    <asp:HiddenField ID="RefNo" runat="server" />
    <asp:HiddenField ID="PFullName" runat="server" />
    <asp:HiddenField ID="pEventName" runat="server" />
    <asp:HiddenField ID="eCurrency" runat="server" />
    <asp:HiddenField ID="Amount" runat="server" />
    <asp:HiddenField ID="Remark" runat="server" />
    <asp:HiddenField ID="ErrDesc" runat="server" />
 
    <asp:HiddenField ID="HideDateTime" runat="server" />
 
   <%-- <asp:HiddenField ID="Lang" runat="server" Value="ISO-8859-1" />
    <asp:HiddenField ID="ResponseURL" runat="server" Value="http://www.mso.org.my/payment/response.aspx" />
    <asp:HiddenField ID="MerchantKey" runat="server" Value="OXxi6oiAcBB" />
--%>
    
    
    </td></tr>
    </table>    
    </td></tr>

    <tr><td align="center" style="padding:20px 10px 10px 10px;" colspan ="2"> <span  style =" font-family :Verdana ; font-size :6pt; ">
    Mailing address:
Malaysian Society of Ophthalmology 
TST 26,<br />
Pejabat Pos Damansara Jaya, 
Selangor D.E., 
Malaysia. 
<br /><br />
Office:
Malaysian Society of Ophthalmology 
40a, Jalan SS21/58, <br />
Damansara Utama, 
47400 Petaling Jaya, 
Selangor D. E.,
Malaysia
<br /><br />

Email: msophth@gmail.com
Phone Number : 012-2403318 
Tel / fax: 03-77107282

</span>
    </td> </tr> 
    
    </table>
    
   </td>
<%--<td style="background-image:url(../images/box_right_h.png); background-repeat:repeat-y;"></td>--%>
</tr>

<%--<tr>
     <td align="right"><img src="../images/box_left_btm.png" /></td>
     <td style="background-image:url(../images/box_line_vec2.png); background-repeat:repeat-x;"></td>
     <td><img src="../images/box_right_btm.png" /></td>
</tr>--%> 


    </table>
    </td></tr>
    
    </table>

    
    </div>
    </form>
</body>
</html>
