﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="testDefault2.aspx.cs" Inherits="testDefault2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<script type="text/javascript">
function poponload()
{
//http://localhost:4756/MSOonline/OnlineForm.aspx
   testwindow = window.open ("http://mso.org.my/payment/OnlineForm.aspx","mywindow","menubar=1,resizable=1,width=830,height=1500,scrollbars=yes");
    //testwindow = //window.open("", "mywindow", "location=1,status=1,scrollbars=1,width=100,height=100");
    //testwindow.moveTo(0, 0);
}

function poponload2()
{
//http://localhost:4756/MSOonline/OnlineForm.aspx
   testwindow = window.open ("http://mso.org.my/proposal/detail_form.aspx","mywindow","menubar=1,resizable=1,width=550,height=550,scrollbars=yes");
    //testwindow = //window.open("", "mywindow", "location=1,status=1,scrollbars=1,width=100,height=100");
    //testwindow.moveTo(0, 0);
}



function toggle2(showHideDiv, switchTextDiv) {
	var ele = document.getElementById(showHideDiv);
	var text = document.getElementById(switchTextDiv);
	if(ele.style.display == "block") {
    		ele.style.display = "none";
		text.innerHTML = "restore";
  	}
	else {
		ele.style.display = "block";
		text.innerHTML = "collapse";
	}
}


</script>
<body>
    <form id="form1" runat="server">
    <div>
    
    <tr><td align ="left" class="style1" ><%--Fees--%></td><td class="style2">
      <td  align ="left" class ="Estyle1">
      <asp:TextBox ID="txtFees" Visible ="false"  Width="200px" runat="server"></asp:TextBox></td>
      </tr> 
      <tr><td align ="left" colspan ="3" style ="padding :10px 20px 10px 0px;">
      <asp:Button ID="btnAdd" Visible ="false"  runat="server" Text="Add" onclick="btnAdd_Click" /></td>
      </tr>
      
      
      
    </div>
    <tr><td>
    
   <%-- <table>
   <tr>
      <td>
         <div style="border: 1px solid blue; background-color: #99CCFF; padding: 5px; width: 150px;">
            <a id="myHeader1" href="javascript:toggle2('myContent1','myHeader1');" >collapse</a>
         </div>
         <div id="myContent1" style="border: 1px solid black; background-color: #CCCCCC; display: block;padding: 5px; width: 150px;">Div #1</div>
      </td>
      <td>
         <div style="border: 1px solid blue; background-color: #99CCFF; padding: 5px; width: 150px;">
            <a id="myHeader2" href="javascript:toggle2('myContent2','myHeader2');" >collapse</a>
         </div>
         <div id="myContent2" style="border: 1px solid black; background-color: #CCCCCC; display: block;padding: 5px; width: 150px;">Div #2</div
      </td>
      <td>
         <div style="border: 1px solid blue; background-color: #99CCFF; padding: 5px; width: 150px;">
            <a id="myHeader3" href="javascript:toggle2('myContent3', 'myHeader3');" >collapse</a>
         </div>
         <div id="myContent3" style="border: 1px solid black; background-color: #CCCCCC; display: block;padding: 5px; width: 150px;">Div #3</div
      </td>
   </tr>
</table>--%>
    
    </td></tr>
    <%--<a href="popupex.html" onclick="return popitup('popupex.html')"
	>Link to popup</a>--%>
    <asp:Button ID="Button1" runat="server" Visible ="false"  onclick="Button1_Click" OnClientClick ="return poponload('http://localhost:4756/MSOonline/OnlineForm.aspx')" Text="Button" />
    
    
    <tr><td align="center" style="padding:200px 0px 20px 0px;">
    
    <table style ="font-family :tahoma,arial ;
   font-size :10pt; "><tr><td style ="font-family :tahoma,arial ;
   font-size :11pt; font-weight :bold ;">MSO Testing Page:</td></tr>
    <tr><td>Abstract Submission&nbsp;&nbsp;&nbsp; |</td> 
    <td>&nbsp; Event Registration Form</td></tr></table>

    
<table><!----><%--onclick ="return poponload2('../detail_form.aspx')"--%>
<tr><td style="padding-right:10px;"><a href="http://mso.org.my/proposal/detail_form.aspx" >Abstract Submission</a></td> 
<td style="padding-left:10px;"><a href="http://mso.org.my/payment/OnlineForm.aspx" > Event Registration Form</a></td></tr>
</table><!----><%--onclick ="return poponload('../OnlineForm.aspx')"--%>
</td></tr>
    
    </form>
</body>
</html>
