#sddm
{	margin: 0;
	padding: 0;
	z-index: 30}

#sddm li
{
	margin: 0;
	padding: 0;
	list-style: none;
	float:right;
	font: bold 11px arial;

}

#sddm li a
{
	display: block;
	margin: 0 0px 0 0;
	padding: 0px 0px;
    padding-left:0px;
	padding-right:0px;
	width:90px;
	color: ##888888;
	text-align:left;
	text-decoration: none;
	font-size: 10px;
}



#sddm div
{
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 0px 0px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		color: #2875DE;
		font: 11px arial; 	
		font-size: 8px;
}
		

	#sddm div a:hover
	
