body {
  margin: 0px;
  padding: 0px;
  color: #000000;
  font-family: Verdana;
} 

#menu {
  float: left;
  width: 960;
  font-size: 93%;
  line-height: normal;
  padding: 8px 0px 0px 5px;
}

#menu ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  
  
}

#menu ul li {
  list-style: none;
}

#menu ul li a {
  float: left;
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #6666FF;
}

#menu ul.horizontal li.level1 {
  float: left;
  height: 22px;
  padding: 0px;
  padding: 2px 2px 2px 10px;
  

}

#menu ul.horizontal li.level1 a {
  font-family: Arial;
  font-size: 12px;
  font-weight:normal;
  color:#FFFFFF
}

#menu ul.horizontal li.level1 a:hover {

}

#menu ul.horizontal > li.level1 a {
  width: auto;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#menu ul li a { float:none; }
/* End IE5-Mac hack */

#menu ul.dropdown,
#menu ul.flyout {
	position:absolute;
	top: 0px;
	left: 0px;
	visibility: hidden;
	width: 220px;
	border-left: 1px solid  #ADC4C9;
    border-top: 1px solid #ADC4C9;
    border-right: 1px solid #ADC4C9;
	background-color:#E7ECED;
	color:  #EAEFF0;
	text-align:left;
	
	
}
#menu ul.dropdown {
margin-left:100pt;
}
#menu ul.dropdown li.level2,
#menu ul.flyout li.level3 {
border-bottom: 1px solid #ADC4C9;
}

#menu ul.dropdown li.level2 a,
#menu ul.flyout li.level3 a {
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  color:#006699;
  padding: 5px 4px 5px 5px;
  padding-left:25px;
}

#menu ul.dropdown li.level2 a:hover,
#menu ul.flyout li.level3 a:hover {
  color:#006699;
  background-color:#CEE0E1;
}

