﻿.dhtmlgoodies_question
{
    /* Styling question */ /* Start layout CSS */
    color: #FFF;
    font-size: 12px;
    background-color: #2a718d;
    width: 800px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-left: 2px;
    background-repeat: no-repeat;
    background-position: right top;
    height: 20px; /* End layout CSS */
    overflow: hidden;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
.dhtmlgoodies_answer
{
    /* Parent box of slide down content */ /* Start layout CSS */
    background-color: #FFFFFF;
    width: 800px; /* End layout CSS */
    visibility: hidden;
    height: 0px;
    overflow: hidden;
    position: relative;
    border-right: dimgray 1px solid;
    border-top: dimgray 1px solid;
    border-left: dimgray 1px solid;
    border-bottom: dimgray 1px solid;    
}
.dhtmlgoodies_answer_content{	/* Content that is slided down */
	padding:1px;
	font-size:0.9em;	
	position:relative;
}