<%@ Page Language="C#" AutoEventWireup="true" CodeFile="LostCookies.aspx.cs" Inherits="LostCookies" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>MALAYSIA SOCIETY OF OPHTHALMOLOGY</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <span style="font-family: Verdana">Lost Cookies....!</span><br />
        <br />
        <asp:LinkButton ID="Link_Back" runat="server" Font-Names="Verdana" Font-Size="X-Small"
            OnClick="Link_Back_Click">Click Here</asp:LinkButton></div>
    </form>
</body>
</html>
