﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="MemberMain.aspx.cs" Inherits="MemberMain" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <style type="text/css">
        .style1
        {
            width: 74%;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <br />
        <div style="width: 351px">
            <table class="style1">
                <tr>
                    <td>
                        <span style="font-family: Verdana">
                        Control Panel</span></td>
                </tr>
                <tr>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-size: 8pt; font-family: Verdana">
                        1.</span><asp:LinkButton ID="Link_1" runat="server" onclick="Link_1_Click" Font-Names="Verdana" Font-Size="X-Small" Font-Underline="False">Member 
                        Profile</asp:LinkButton>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-size: 8pt; font-family: Verdana">2.</span><asp:LinkButton ID="Link_Logout"
                            runat="server" Font-Names="Verdana" Font-Size="X-Small" Font-Underline="False"
                            ForeColor="Red" OnClick="Link_Logout_Click">Logout</asp:LinkButton></td>
                </tr>
                <tr>
                    <td>
                        &nbsp;</td>
                </tr>
            </table>
        </div>
    
    </div>
    </form>
</body>
</html>
