﻿body {
}

.style1
{
   width: 150px;
   height :40px;
   font-family :Verdana ;
   font-size :10pt;
}
.style2
{
  width: 10px;
  height :40px;
}

.style3
	{
	width :450px;
	height :40px;
	}
	
.formheader
	{
	padding :20px 10px 10px 10px; 
	font-family :Verdana ; 
	font-weight :bold ; 
	font-size :10pt;
	
	}

.Estyle
	{
		padding :10px 10px 10px 10px;
	}
	
.Dline
{
	color:#FFFFFF;
	font-size:9pt;
	font-weight:bold; 
	background:url(../images/dotline.png) repeat-x left;
	padding:3px 10px 3px 10px;
	width:100%; 
	height:2px;
 }
 
 .smallstep
 {
	padding :0px 10px 5px 10px; 
	font-family :Verdana ; 
	font-weight :bold ; 
	font-size :8pt;
 }