/* CSS Document */
.bullet{
      list-style-image:url(images/arrow.jpg);
	  font-size:12px;
}
.menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #FFFFFF;
}
a:link {
	color: #203744;
	text-decoration: underline;
}
a:visited {
	color: #203744;
	text-decoration: underline;
}
a:hover {
	color: #467993;
	text-decoration: underline;
}
a:active {
	color: #203744;
	text-decoration: underline;
}

.login{
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color:#666666;
	border:solid;
	border-color:#CCCCCC;
	border-width:1px;
}

.report_title{
	color: #467993;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	text-decoration: underline;
}

.report_body {
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: #434E54;
}

.objectives_title {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #6b7c88;
	font-weight: bold;
}
.objectives_body {
	color: #324654;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 12px;
}

.copy_right {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #d7dee1;
}

.body_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21px;
	color: #164654;
}

.sub_pg_body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #324654;
}

.sub_pg_body_title{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #467993;
	font-weight: bold;	
}
.table_border
{
    border-top: 1px #cccccc solid;
    border-left:1px #cccccc solid;
    border-right:1px #cccccc solid;
}
.td_border_mid
{
    padding:6px;
    border-bottom:1px #cccccc solid;
    border-right:1px #cccccc solid;
}

.td_border_start
{
    padding:6px;
    border-bottom:1px #cccccc solid;
    border-right:1px #cccccc solid;
}
.td_border_end
{
    padding:6px;
    border-bottom:1px #cccccc solid;
}
.accessjournal
{
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color:#666666;
}

.pic_plc
{
	padding:10px 0px 10px 0px;
}

.cardfont
{
	font-size:12px;
	padding:0px 10px 10px 0px;
}

.content
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #393939;
}

.content_title{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	color: #000;
}
