*1 {margin:0;padding:0}


.description{padding:16px;margin:10px 0;background:#eee}

.sample{  padding:20px 30px; width:700px; height:580px; border:1px solid #e1e1e1}


.links {padding:10px;margin-top:20px}
.links a{font-size:14px;color:#0080FF;text-decoration:none}
.links a:hover{font-weight:bold}

#cont{width:550px;margin:0 auto;background:#fff;text-align:left;padding:20px}

.buttons{padding:5px;}
.buttons span{color:#0080FF;padding:0 5px;cursor:pointer;font:10px Verdana}
.buttons span.active, .buttons span:hover{background:#0080FF;color:#fff}